@import "tailwindcss";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  /* fonts:  */
  --default-font-family: "Inter", sans-serif;

  /* color: text(dark): */
  --text-primary: #a0ccff;
  --text-default: #efefef;
  --text-hint: #919498;
  --text-default-inverse: #232931;
  --text-hint-inverse: #505050;

  /* color: Bg(dark): */
  --bg-primary: #4e81bb;
  --bg-default: #232931;
  --bg-paper: #3d3e42;
  --bg-default-inverse: #fefefe;
  --bg-paper-inverse: #f1f1f1;
  --bg-paper-inverse-interactive: #d2d2d2;

  /* color: Border(dark): */

  --border-default: #efefef;
  --border-hint: #afb3b7;
  --border-subtitle: #3d3e42;

  /* color: text(light): */
  --text-primary-light: #e39685;
  --text-default: #efefef;
  --text-hint: #919498;
  --text-default-inverse: #232931;
  --text-hint-inverse: ##505050;

  /* color: Bg(light): */
  --bg-primary-light: #0075ff;
  --bg-default: #232931;
  --bg-paper: #3d3e42;
  --bg-default-inverse: #fefefe;
  --bg-paper-inverse: #f1f1f1;
  --bg-paper-inverse-interactive: #d2d2d2;

  /* color: Border(dark): */

  --border-default: #efefef;
  --border-hint: ##afb3b7;
  --border-subtitle: ##3d3e42;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--default-font-family);
}

body {
  background: url("./assets/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

span {
  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: var(--text-default);
  display: flex;
  padding: 3px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
